*/__pycache__/*
data/*
experiments/*
visualizations/*
*/.ipynb_checkpoints/*
BMM_SEQ_STIM*
*NASS*
*spike_times_*
*DSPTS_*
*SPTS_*
*X_*
tmp/*.p
assets/*.png
videos/*.mp4
*/wandb
*/__pycache__/*
*tar.gz